#actions{
    text-align: center;
    margin-top: 10px;
}
.centerAlignText{
    margin-top: 10px;
}
.input1{
    width: 70% !important;
    display: inline-block !important;
}

.titleLabel{
    text-align: right;
}