.tubeGrid{
    margin: 0 auto;
    padding: 10px;
    border: 2px solid;
    text-align: center;
}
#tubesContainer table{
    width: 1px;
    margin: 0 auto;
}
#tubesContainer.grid>table{
    display: inline-block !important;
}
.grid-row{
    /*display: inline-block;*/
    margin-top: 5px;
    text-align: center;
}
.grid-header{
    height: 20px;
    width: 20px;
    /*display: inline-block;*/
    margin-left: 5px;
    border-bottom: 0 !important;
    text-align: center;
}
.grid-row-number{
    padding: 0 !important;
    border-top: 0 !important;
    text-align: center;
}
.grid .grid-cell{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #6699CC;
    display: inline-block;
    margin-left: 5px;

}
.site .grid-cell{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #6699CC;
    display: inline-block;
    margin-left: 5px;

}
th.grid-row-number{
    min-width: 25px;
}
.grid-cell.flickerColor{
    background-color: blue !important;
}
.table>tbody>tr>td{
    padding: 0 !important;
    border-top: 0 !important;
}
.table>thead>tr>th{
    border-bottom: 0 !important;
}
.grid-cell:hover{
    outline: 2px solid blue;
    border-radius: 50%;
}

.grid-cell.selected {
    background-color: #FF9966;
}
.select-box-dashed {
    position: absolute;
    display: none;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    border: 1px dashed #0099ff;
    background-color: #c3d5ed;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 0px;
    z-index: 99999;
    pointer-events: none;
}
.moveDone{
    background-color: #0099CC !important;
}
.movingCell{
    animation: movingAnimation 5s;
}
@keyframes movingAnimation
{
    0% {background: #FF9966;}/*动画开始样式*/
    25% {background: yellow;}
    50% {background: blue;}
    100% {background: green;}/*动画结束样式*/
}